<script type="module" src="~/js/site.js"></script>
    <div id="app"></div>
    <template id="app-tpl">
    <h1 data-cy="page-title">Battle!</h1>
        <div class="spel-container">
            <card-tile id="card-1" image="1">1</card-tile>
            <card-tile id="card-2" image="2">2</card-tile>
            <card-tile id="card-3" image="3">3</card-tile>
        </div>
    </template>
    <template id="card-tile-tpl">
        <img src="" alt="" />
    </template>

@* <script src="~/js/site.js" asp-append-version="true"></script> *@
