@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a class="text-center" href="https://localhost:7158/Identity/Account/Register">
        <button class="btnR"> Registreren</button>
    </a>
    <a class="text-center" href="https://localhost:7158/Identity/Account/Login">
        <button class="btnI"> Inloggen</button>
    </a>
    <a class="text-center">
    <button class="btnV"> Vechten!</button>
    </a>
</div>
