@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center">

    <p>
        <br>
        <br>
        <br>
    </p>
    <div>
    <a class="text-center" href="https://localhost:7158/Identity/Account/Register">
        <button class="btnR"> Registreren</button>
    </a>
    <a class="text-center" href="https://localhost:7158/Identity/Account/Login">
        <button class="btnI"> Inloggen</button>
    </a>
    @if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="Home" asp-action="Battleview">
    <button id="VechtButton" class="btnV" > Vechten!</button>
    </a>
}
    </div>
    <p>
        <br>
        <br>
    </p>
</div>
